@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.services-background {
  background-color: rgba(255, 255, 255, 0.05);
  background-image: radial-gradient(
    circle at 50%,
    rgba(36, 49, 103, 0.7) 30%,
    transparent 10%
  );
  background-position: 0 0;
  background-size: 15px 15px;
  width: 100%;
}

.footer-background {
  background-image: radial-gradient(circle at 50%, #131313 30%, #000000 30%);
  background-position: 0 0;
  background-size: 15px 15px;
  width: 100%;
}

.recent-work-card {
  background-image: url('/background/cardColor.svg');
  background-repeat: no-repeat;
  background-position: center;

  /* Filtro Blanco y Negro */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.recent-work-card:hover {
  /* Revertir filtro */
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.heart {
  /* Animation */
  transform: scale(1);
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.swiper-pagination-bullet-active {
  background-color: #ed184f !important;
}

.swiper-button-next {
  color: #ed184f !important;
}

.swiper-button-prev {
  color: #ed184f !important;
}
